*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

body {
    padding: 3px;
    background-color: #1e1d24;
    color: white;
    font-family: Arial;
}

.artist {
    box-sizing: border-box;
    align-items: center;
    margin: 3px;
    width: 280px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.artist a {
    font-size: 20px;
    width: 100%;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
}

.artist img {
    width: 100%;
    object-fit: cover;
    aspect-ratio: 1/1;
    border-radius: 50%;
}

.artistList {
    display: flex;
}

.album {
    background-color: #4a4850;
    transition: transform 0.2s ease;
    display: flex;
    width: 260px;
    margin: 3px;
    flex-direction: column;
    align-items: center;
}

.album:hover {
    transform: translateY(-5px);
    background-color: #00c896;
}

.album img {
    width: 100%;
    object-fit: cover;
    aspect-ratio: 1/1;
}

.albumList {
    display: flex;
}

.album a {
    font-size: 20px;
    width: 100%;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
}

.albumBig .left {
    background: #4a4850;
    width: 400px;
    margin: 3px;
}

.albumBig {
    display: flex;
    flex-direction: row;
}

.track {
    align-items: center;
    display: flex;
    font-size: 24px;
    margin: 3px;
    white-space: nowrap;
    background-color: #4a4850;
    height: 60px;
}

.track img {
    height: 100%;
    object-fit: cover;
    aspect-ratio: 1/1;
}

.track button {
    background-color: #00c896;
    color: white;
    padding: 4px 8px;
    cursor: pointer;
    margin-left: auto;
}

.track:hover {
    background-color: #00c896;
}

.track a {
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    margin: 6px;
    width: 400px;
}

.trackBig, .artistBig {
    margin: 3px;
    display: flex;
    background: #4a4850;
}

.trackBig img, .artistBig img, .albumBig .left img {
    width: 400px;
    object-fit: cover;
    aspect-ratio: 1/1;
}

ul {
    margin: 0px;
    padding: 0px;
}

.trackBig h1, .artistBig h1, .albumBig h1 {
    width: 100%;
}

.trackBigInfo, .artistBigInfo {
    display: flex;
    flex-direction: column;
    padding: 6px;
}

.trackBig h1, .artistBig h1, .albumBig h1 {
    font-size: 65px;
}